HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

*.iml
*_Roo_*.aj
*~
.classpath
.DS_Store
.gradle
.idea
.metadata
.metadata/*
.project
.setting
.settings
.settings/
.svn
.vscode/
build
coverage
doxy
Gemfile.lock
log.roo
log/*
logs/*
node_modules
objs
on
out
target
tmp/*
*.class
bin
.factorypath
